*{
	box-sizing: border-box;
}

body {
	background: #fafafa;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: carlito, carlitos, calibri, arial, verdana, ubuntu;
	box-sizing: border-box;
	text-align: center;
	margin: 0;
	padding: 0;
	font-size: 1rem;
}

#page-title-wrapper {
	/*background: #24292E;*/
	/* background: linear-gradient(90deg, limegreen, deepskyblue); */
	background: linear-gradient(90deg, #4267b2 25%, #32cd32 25%, #32cd32 50%, #1da1f2 50%, #1da1f2 75%, #f40 75%, #f40 100%);
	color: white;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 8px;
	margin-bottom: 3rem;
	box-shadow: 0 0 3px rgba(0,0,0, 0.5);
}

#page-title-wrapper h1 {
	color: #1E1E1E;
	margin: 0;
	text-shadow: 0 0 1px rgba(255,255,255, 0.5);
}

#page-title-wrapper h1 img {
	width:1.5rem;
	height:1.5rem;
	transform: rotate(180deg);
	opacity: 0.5;
}

#page-title-wrapper h1 img:not(:first-of-type):last-of-type {
	transform: none;
}

#page-title-wrapper, main {
	text-align: center;
}

main h1, h2, h3, h4 {
	cursor: default;
}

main h2 {
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

main h3 {
	margin-top: 3rem;
}

main h2, h3, li::marker {
	color: white;
}

main {
	width: 80%;
	margin: auto;
}

figure {
	display: block;
	padding: 0;
	margin: auto;
}

#main-section {
	text-align: initial;
}

.sections {
	display: block;
	background: white;
	margin: 3rem auto;
	padding: 2rem;
	border-radius: 4px;
	box-shadow: 0 0 1px rgba(0,0,0, 0.5);
}

.gradient-background {
	background: linear-gradient(90deg, limegreen, deepskyblue);
}

.gradient-background:nth-child(3) {
	background: linear-gradient(90deg, deepskyblue, limegreen);
}

.separator {
	display: block;
	background: black;
	background: linear-gradient(45deg, transparent, rgba(0,0,0, 0.5), transparent);
	width: 100%;
	height: 1px;
	margin: 2rem auto;
}

.info-subsection-wrap {
	background: #E3E3E3;
	padding: 0;
	padding-bottom: 2rem;
	margin: 2rem auto;
	border-radius: 4px;
}

.info-subsection-wrap h2 {
	background: #3E3E3E;
	color: white;
	padding: 1rem;
	margin-top: 0;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.setting-option-wrap {
	background-color: white;
	padding: 1rem;
	margin: 2rem;
	border-radius: 4px;
}

main a {
	display: block;
	text-decoration: none;
}

main li {
	background: #dde7fc;
	max-width: -moz-fit-content;
	max-width: fit-content;
	padding: 8px;
	border-radius: 4px;
}

#cover-image-wrap{
	max-width: 700px;
	max-height: 600px;
}

#cover-image{
	display: block;
	margin: auto;
	width: 100%;
	height: 100%;
	padding: 0;
	box-shadow: 0 0 2px rgb(0,0,0, 0.25);
}

.github-btn{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	background: linear-gradient(limegreen, green);
	color: white;
	width: -moz-fit-content;
	width: fit-content;
	padding: 4px;
	margin: auto;
	border: solid 1px darkgray;
	border-radius: 10px;
}

.github-btn:active{
	background: green;
	color: #f2f2f2;
	border-color: rgb(0,0,0, 0.5);
}

a{
	display: block;
	margin: auto;
	width: -moz-fit-content;
	width: fit-content;
}

.github-btn img{
	width: 40px;
	height: 40px;
}

#github-logo{
	background: rgb(255,255,255, 0.8);
	border-radius: 100%;
}

#overview-text-box{
	background-color: white;
	margin: 1rem auto;
	margin-top: 2rem;
	padding: 1rem;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0,0,0, 0.37);
	transition: 0.25s;
}

#overview-text-box:hover{
	box-shadow: 0 0 5px rgba(0,0,0, 0.5);
}

#supported-icons-wrapper{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: 1rem;
}

.supported-icon-fig-wrapper{
	position: relative;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	padding: 0;
	margin-bottom: 0;
}

.supported-icon-fig{
	display: block;
	margin: auto;
	width: 50px;
	height: 50px;
	padding: 0;
}

.supported-icon-fig:hover{
	transform: scale(1.1);
}

.supported-icon{
	display: block;
	width: 100%;
	height: 100%;
}

.supported-icon-fig:hover + .supported-icon-title{
	opacity: 1;
}

.supported-icon-title {
	z-index: 1;
	position: absolute;
	top: calc(100% + 0.5rem);
	display: block;
	background: rgba(0,0,0, 0.75);
	opacity: 0;
	font-weight: normal;
	color: white;
	text-align: center;
	padding: 4px 8px;
	margin:auto;
	border-radius: 4px;
	box-shadow: 0 0 2px rgba(255,255,255, 0.5)
}

.input-options-img{
	display: block;
	width: 25px;
	height: 25px;
	margin: auto;
	margin-bottom: 2rem;
}

.h3-title-img{
	width: 1rem;
	height: 1rem;
}

.h2-title-img{
	width: 1.5rem;
	height: 1.5rem;
}

.h2-title-img,
.h3-title-img,
.input-options-img {
	user-select: none;
	pointer-events: none;
}

#input-options-wrap{
	background-color: white;
	padding: 0 2rem;
	padding-bottom: 2rem;
	margin: auto;
	margin-bottom: 1rem;
	border: 1px solid lightgray;
	border-radius: 4px;
}

#input-options-flex-wrap {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin: 2rem auto 1rem auto;
}

#input-options-flex-wrap > div {
	background: #E3E3E3;
	width: calc(20% - 1rem);
}

#input-options-flex-wrap > div p,
#input-options-flex-wrap > div > label,
#input-options-flex-wrap > div > input[type="reset"] {
	margin-left: 1rem;
	margin-right: 1rem;
}

#input-socialmedia-wrap {
	background: #E3E3E3;
	text-align: center;
	border-radius: 4px;
	padding-bottom: 2rem;
	margin: 2rem auto 1rem auto;
}

#input-options-flex-wrap h3,
#input-socialmedia-wrap > h3 {
	background: #3E3E3E;
	color: white !important;
	padding: 1rem 0;
	margin-top: 0 !important;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

#input-socialmedia-wrap > label {
	display: inline-block;
	background: #F2F2F2;
	padding: 1rem;
	border-radius: 4px;
	width: 10%;
	min-width: 90px;
	aspect-ratio: 1 / 1;
	margin: 0.5rem;
	box-shadow: 0 0 4px rgba(0,0,0, 0.125);
}

#input-socialmedia-wrap > label:hover {
	box-shadow: 0 0 6px rgba(0,0,0, 0.25);
}

#input-socialmedia-wrap .social-network-check:checked + label {
	box-shadow: 0 0 8px rgba(0,0,255, 0.25);
	transform: scale(1.025);
}

#input-socialmedia-wrap > label p {
	font-size: 12.5px;
	margin: auto;
	margin-top: 0.5rem;
}

#input-socialmedia-wrap .toggle-socialmedia-checkbox {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

#input-socialmedia-wrap .h3-title-img {
	display: block;
	width: 3rem;
	height: 3rem;
	margin: auto;
}

#toggle-socialmedia-checkbox-wrapper {
	margin-bottom: 1rem;
}

.toggle-socialmedia-checkbox {
	background-color: #1c771c;
	color: white;
	font-weight: bold;
	padding: 4px 8px;
	border-radius: 2px;
}

.toggle-socialmedia-checkbox:last-child{
	background-color: red;
}

#input-options-wrap div h3{
	color: black;
	text-align: center;
	margin: 2.5rem auto 0.5rem auto;
}

#input-options-wrap .toggle-socialmedia-checkbox {
	display: inline-block;
	width: -moz-fit-content;
	width: fit-content;
	margin: 1rem 2rem;
}

#input-options-flex-wrap div p{
	width: -moz-fit-content;
	width: fit-content;
}

.input-wrapping-label {
	background: dimgray;
	color: white;
	display: block;
	padding: 4px;
	border-radius: 4px;
}

.input-wrapping-label input[type="number"] {
	width: 100%;
}

#form-buttons-wrap{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: center;
	width: -moz-fit-content;
	width: fit-content;
	margin: auto;
}

#form-buttons-wrap input{
	background: mediumpurple;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	font-family: carlito, carlitos;
	color: white;
	background: mediumaquamarine;
	padding: 4px 8px;
	margin: 0.25rem;
	margin-bottom: 0.75rem;
	border: none;
	border-radius: 5px;
	box-shadow: 0 0 2px rgba(0,0,0, 0.5);
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	background: purple;
	transform: scale(1.125);
}

#submit-button:active{
	background: forestgreen;
	color: white;
}

.form-buttons-icon{
	width: 1.5rem;
	height: 1.5rem;
	opacity: 0;
}

#toggable-code-wrapper{
	height: 0;
	width: -moz-fit-content;
	width: fit-content;
	max-width: 100%;
	margin: auto;
	overflow: hidden;
	transition: 0.25s ease;
}

#toggable-code-wrapper pre{
	height: -moz-fit-content;
	height: fit-content;
	max-width: 100%;
	max-width: -webkit-fill-available;
	padding: 8px;
	border-radius: 7px;
	overflow-y: hidden;
	transition: 0.25s ease;
}

#toggle-code-button{
	display: none;
	margin: auto;
}

.copy-code-button::after {
	content: ' </>';
	font-weight: bold;
}

code, pre{
	font-family: Consolas, "Ubuntu Mono", Inconsolata, Monospace;
	font-size: small;
}

code{
	background: dimgray;
	color: white;
	width: -moz-fit-content;
	width: fit-content;
	height: -moz-fit-content;
	height: fit-content;
	padding: 4px;
	border-radius: 4px;

}

span{
	width: auto;
}

pre{
	display: block;
	width: auto;
	resize: both;
	overflow: auto;
}

.code-snippet {
	display:block;
	background: #282923;
	color: white;
	tab-size: 4;
	height: -moz-fit-content;
	height: fit-content;
	padding: 8px;
	margin: 1rem;
	border-radius: 4px;
}

.code-snippet::selection,
.code-snippet span::selection {
	background: #3B3B32;
}

.example-subtitle{
	color: #272822;
	text-decoration: underline;
}

.html-tag, .operator{
	color: #F92672;
}

.boolean{
	color: #AE81FF;
}

.html-attribute, .identifyer, .old-listener{
	color: #A6E22E;
}
.code-quotes{
	color: #E6DB74;
}

.code-comment{
	color: #75715E;
}

.function, .method, .function-call{
	color: #66D9EF;
}

.function, .method, .example-subtitle{
	font-style: italic;
}

footer{
	background: #24368f;
	color: white;
	width: 100%;
	padding: 1rem;
}

footer a , #author-disclaimer{
	text-decoration: none;
	color: lightgray;
}

footer a:hover, #author-disclaimer:hover{
	color: white;
}

footer img{
	display: block;
}

footer h3{
	margin-top: 2rem;
	color: white;
}

#author-disclaimer{
	cursor: pointer;
	width: -moz-fit-content;
	width: fit-content;
	height: -moz-fit-content;
	height: fit-content;
	margin: auto;
}



@media only screen and (max-width: 750px){

	main {
		width: 85%;
	}

	#main-section{
		text-align: initial;
	}
	
	.sections{
		padding: 1rem;
		padding-bottom: 2rem;
	}

	#overview-text-box{
		margin-top: 1.5rem;
	}

	.setting-option-wrap {
		margin: 1rem auto;
	}

	main ol, ul {
		padding-inline-start: 1rem;
	}

	#input-options-flex-wrap {
		display: block;
	}

	#input-options-flex-wrap div {

		width: -moz-fit-content;
		width: fit-content;
		margin: auto;
	}

	/*#input-options-wrap > div:not(div:first-child){
		margin-top:2.5rem;
		border-top: solid 1px black;
	}*/

	.code-snippet{
		margin: 1rem 0.5rem;
		margin-right: 0;
	}
}
