*{
	box-sizing: border-box;
}
body{
	background: #f7f7f7;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: calibri, arial, verdana, ubuntu;
	box-sizing: border-box;
	text-align: center;
	margin: 0;
	padding: 0;
	font-size: 1rem;
}

header{
	background: #24292E;
	color: white;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 8px;
	margin-bottom: 5rem;
	box-shadow: 0 0 3px rgb(0,0,0, 0.5);
}

header h1, header h2{
	margin: 0;
}

h2{
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

main{
	width: 80%;
	margin: auto;
}

figure{
	display: block;
	padding: 0;
}

#main-section{
	text-align: justify;
}

.sections{
	display: block;
	background: white;
	margin: 5rem auto;
	padding: 2rem;
	box-shadow: 0 0 2px rgb(0,0,0, 0.5);
}

.setting-option-wrap{
	padding: 1rem;
	margin: 2rem;
	border: dashed 2.5px palevioletred;
}

a{
	display: block;
	text-decoration: none;
}

li{
	background: #e6e6e6;
	padding: 8px;
	border-radius: 8px;
}

#main-cover-image{
	display: block;
	margin: auto;
	width: auto;
	height: 250px;
	padding: 0;
	box-shadow: 0 0 2px rgb(0,0,0, 0.25);
}

#repository-banner{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	background: linear-gradient(limegreen, green);
	color: white;
	text-stroke: 1px;
	width: fit-content;
	padding: 4px;
	margin: auto;
	border-radius: 10px;
}

#repository-banner:active{
	background: linear-gradient(green, limegreen);
	color: #f2f2f2;
}

#github-img{
	background: white;
	width: 40px;
	height: 40px;
	border-radius: 100%;
}

#supported-icons-wrapper{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.supported-icon-fig-wrapper{
	display: block;
	padding: 0;
	margin: 2rem;
}

.supported-icon-fig{
	display: block;
	margin: auto;
	width: 50px;
	height: 50px;
	padding: 0;
}

.supported-icon-fig:hover{
	transform: scale(1.1);
}

.supported-icon{
	display: block;
	width: 100%;
	height: 100%;
}

.supported-icon-fig:hover + .supported-icon-title{
	opacity: 1;
}

.supported-icon-title{
	display: block;
	background: black;
	opacity: 0;
	color: white;
	font-weight: bold;
	padding: 4px;
	border-radius: 4px;
	box-shadow: 0 0 4px rgb(0,0,0, 0.5)
}

code, pre{
	font-family: Consolas, Monospace;
	font-size: small;
}

code{
	background: dimgray;
	color: white;
	width: fit-content;
	height: fit-content;
	padding: 4px;
	border-radius: 4px;

}

span{
	width: auto;
}

pre{
	display: block;
	width: auto;
	resize: both;
	overflow: auto;
}

.code-snippet{
	display:block;
	background: #272822;
	color: white;
	tab-size: 4;
	height: fit-content;
	padding: 8px;
	margin: 1rem;
}



footer{
	background: #24292E;
	color: white;
	width: 100%;
	padding: 1rem;
}

address a{
	text-decoration: none;
	color: lightgray;
}

.html-tag, .boolean{
	color: #F92672;
}

.html-attribute, .identifyer, .old-listener{
	color: #A6E22E;
}

.old-listener{
	font-style: italic;
}

.code-quotes{
	color: #E6DB74;
}

.code-comment{
	color: #75715E;
}

.function, .method{
	color: #66D9EF;
}

.function, .method, .old-listener{
	font-style: italic;
}


