*{
	box-sizing: border-box;
}
body{
	background: #fafafa;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: carlito, carlitos, calibri, arial, verdana, ubuntu;
	box-sizing: border-box;
	text-align: center;
	margin: 0;
	padding: 0;
	font-size: 1rem;
}

header{
	/*background: #24292E;*/
	background: linear-gradient(90deg, limegreen, deepskyblue);
	color: white;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 8px;
	margin-bottom: 3rem;
	box-shadow: 0 0 3px rgba(0,0,0, 0.5);
}

header h1{
	margin: 0;
	text-shadow: 0 0 5px rgba(0,0,0, 0.25);
}

h1, h2, h3, h4{
	cursor: default;
}
h2{
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

h3{
	margin-top: 3rem;
}

main{
	width: 80%;
	margin: auto;
}

figure{
	display: block;
	padding: 0;
	margin: auto;
}

#main-section{
	text-align: justify;
}

.sections{
	display: block;
	background: white;
	margin: 3rem auto;
	padding: 2rem;
	border-radius: 4px;
	box-shadow: 0 0 2px mediumblue;
}

.setting-option-wrap{
	padding: 1rem;
	margin: 2rem;
	border: dashed 2.5px palevioletred;
}

a{
	display: block;
	text-decoration: none;
}

li{
	background: #CAD3E6;
	padding: 8px;
	border-radius: 4px;
}

#cover-image-wrap{
	max-width: 700px;
	max-height: 600px;
}

#cover-image{
	display: block;
	margin: auto;
	width: 100%;
	height: 100%;
	padding: 0;
	box-shadow: 0 0 2px rgb(0,0,0, 0.25);
}

#github-repository-banner{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	background: linear-gradient(limegreen, green);
	color: white;
	width: fit-content;
	padding: 4px;
	margin: auto;
	border: solid 1px darkgray;
	border-radius: 10px;
}

#github-repository-banner:active{
	background: green;
	color: #f2f2f2;
	border-color: rgb(0,0,0, 0.5);
}

a{
	display: block;
	margin: auto;
	width: fit-content;
}

#github-logo{
	background: rgb(255,255,255, 0.8);
	width: 40px;
	height: 40px;
	border-radius: 100%;
}

#overview-text-box{
	margin: 1rem auto;
	padding: 1rem;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0,0,0, 0.37);
	transition: 0.25s;
}

#overview-text-box:hover{
	box-shadow: 0 0 5px rgba(0,0,0, 0.5);
}

#supported-icons-wrapper{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}

.supported-icon-fig-wrapper{
	position: relative;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	padding: 0;
	margin: 2rem;
	margin-bottom: 0;
}

.supported-icon-fig{
	display: block;
	margin: auto;
	width: 50px;
	height: 50px;
	padding: 0;
}

.supported-icon-fig:hover{
	transform: scale(1.1);
}

.supported-icon{
	display: block;
	width: 100%;
	height: 100%;
}

.supported-icon-fig:hover + .supported-icon-title{
	opacity: 1;
}

.supported-icon-title{
	position: absolute;
	bottom: -2rem;
	display: block;
	background: black;
	opacity: 0;
	color: white;
	font-weight: bold;
	padding: 4px;
	margin:auto;
	border-radius: 4px;
	box-shadow: 0 0 4px rgba(0,0,0, 0.5)
}

.input-options-img{
	display: block;
	width: 25px;
	height: 25px;
	margin: auto;
	margin-bottom: 2rem;
}

.h3-title-img{
	width: 1rem;
	height: 1rem;
}

.h2-title-img{
	width: 1.5rem;
	height: 1.5rem;
}

#input-options-wrap{
	border: 1px dashed blue;
	border-radius: 4px;
	padding: 0 2rem;
	margin: auto;
	margin-bottom: 1rem;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

#input-options-wrap div p{
	width: fit-content;
}

#input-options-wrap div h3{
	text-align: center;
	margin: 2.5rem auto 0.5rem auto;
}

#color-picker-input-label{
	display: block;
	padding: 2px;
	border: solid 1px lightgray;
}

#form-buttons-wrap{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: center;
	width: fit-content;
	margin: auto;
}

#form-buttons-wrap input{
	font-family: carlito, carlitos;
	padding: 2px 6px;
	margin: 0.25rem;
}

#submit-button:active{
	background: forestgreen;
	color: white;
}

.form-buttons-icon{
	width: 1.5rem;
	height: 1.5rem;
	opacity: 0;
}

code, pre{
	font-family: Consolas, "Ubuntu Mono", Inconsolata, Monospace;
	font-size: small;
}

code{
	background: dimgray;
	color: white;
	width: fit-content;
	height: fit-content;
	padding: 4px;
	border-radius: 4px;

}

span{
	width: auto;
}

pre{
	display: block;
	width: auto;
	resize: both;
	overflow: auto;
}

.code-snippet{
	display:block;
	background: #272822;
	color: white;
	tab-size: 4;
	height: fit-content;
	padding: 8px;
	margin: 1rem;
	border-radius: unset;
}

.example-subtitle{
	color: #272822;
	text-decoration: underline;
}

.html-tag, .operator{
	color: #F92672;
}

.boolean{
	color: #AE81FF;
}

.html-attribute, .identifyer, .old-listener{
	color: #A6E22E;
}
.code-quotes{
	color: #E6DB74;
}

.code-comment{
	color: #75715E;
}

.function, .method, .function-call{
	color: #66D9EF;
}

.function, .method, .example-subtitle{
	font-style: italic;
}

footer{
	background: #24368f;
	color: white;
	width: 100%;
	padding: 1rem;
}

footer a , #author-disclaimer{
	text-decoration: none;
	color: lightgray;
}

footer a:hover, #author-disclaimer:hover{
	color: white;
}

footer img{
	display: block;
}

footer h3{
	margin-top: 2rem;
	color: white;
}

#author-disclaimer{
	cursor: pointer;
	width: fit-content;
	height: fit-content;
	margin: auto;
}



@media only screen and (max-width: 750px){

	main {
		width: 85%;
	}
	
	.sections{
		padding: 1rem;
		padding-bottom: 2rem;
	}

	.setting-option-wrap{
		margin: 1rem auto;
	}

	#input-options-wrap{
		display: block;
	}

	#input-options-wrap div{
		width: unset;
	}

	.code-snippet{
		margin: 1rem 0.5rem;
		margin-right: 0;
	}
}
