body{
	box-sizing: border-box;
	position: relative;
	font-family: calibri, arial, verdana;
	min-height: 100vh;
	padding: 0;
	margin: 0;
}

nav {
	z-index: 9999;
	position: sticky;
	background: linear-gradient(45deg, dodgerblue, deepskyblue, dodgerblue);
	display: flex;
	flex-flow: row nowrap;
	place-items: center;
	justify-content: flex-end;
	text-align: right;
	color: white;
	top: 0;
	left: 0;
	right: 0;
	padding: 0.5rem;
	/* margin-bottom: 3rem; */
	box-shadow: 0 0 2.5px rgba(0,0,0, 0.5);
}

#language-select-label {
	font-size: 0.8rem;
	transition: 0.125s ease;
}

label:nth-of-type(2) {
	display: block;
	width: 1rem;
	height: 1rem;
	margin: auto 0.3rem;
	padding: 0;
}

.language-flag {
	display: none;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

header{
	display: block;
	background: gray;
	width: 100%;
	height: -moz-fit-content;
	height: fit-content;
	margin: 0;
	padding: 0;
	padding-top: 1rem;
	margin-bottom: 3.5rem;
}

header > h1 {
	color: white;
}

h1{
	margin: 0;
}

main {
	min-height: 50vh;
}

#profession-title-wrap{
	background-color: black;
	width: auto;
	margin: auto;
	margin-top: 1rem;
	padding: 0 1rem;
}

#profession-title{
	display: block;
	background-color: #383830; /* Monokai background-color*/
	color: white;
	width: -moz-fit-content;
	width: fit-content;
	margin: auto;
	padding: 0.75rem;
	/* border-radius: 5px; */
	box-shadow: 0 0 2.5px rgba(0,0,0, 0.5);
}

h3{
	font-size: 1.5rem;
	color: #00004d;
}

.monokai-background{
	background-color: #383830;
}

.monokai-pink{
	color: #F92672;
}

.monokai-gray-lightest, code{
	color: #E6E6E6;
}

.monokai-blue{
	color: #89BDFF;
}

.monokai-purple{
	color: #AE81FF;
}

.monokai-green{
	color: #A6E22A;
}

.pointer{
	color: #E6E6E6;
	animation: blink 1s infinite;
}


canvas{
	display: block;
	margin: auto;
	padding: 0;
	touch-action: none;
}

#canvas-section{
	display: block;
	overflow: hidden;
}

h1,h2,h3,p{
	display: block;
	text-align: center;
}

a{
	text-decoration: none;
	display: block;
	width: -moz-fit-content;
	width: fit-content;
	margin: auto;
}

#projects-section{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: space-evenly;
	width: 90%;
	height: -moz-fit-content;
	height: fit-content;
	margin: auto;
}

.project-card{
	position: relative;
	display: block;
	background-color: white;
	width: 450px;
	height: auto;
	margin: 2rem;
	padding: 0;
	border-radius: 10px;
	box-shadow: 0 0 2.5px rgba(0,0,0, 0.5);
	transition: 0.5s;
}

.project-card:hover{
	z-index: 2;
	transform: scale(1.025);
	box-shadow: 0 0 2.5px rgba(0,0,0, 0.75);
}

.project-card-title{
	font-size: 1.2rem;
	text-align: center;
	margin: 0.5rem auto;
}

.project-card-media-wrap{
	position: relative;
	display: block;
	background-color: lightgray;
	width: 450px;
	height: 235.125px;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.media-card-loading{
	position: absolute;
	color: white;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: -moz-fit-content;
	width: fit-content;
	height: -moz-fit-content;
	height: fit-content;
	margin: auto;
}

.project-card-img{
	position: absolute;
	object-fit: cover;
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	transition: 0.5s ease;
}

video {
	display: none;
	object-fit: contain;
	background: black;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

video[poster]{
	object-fit: cover;
}

.pj-card-description-box{
	font-style: italic;
	height: 80px;
}

.project-type{
	position: absolute;
	bottom: 0;
	right:0;
	color: gray;
	text-align: right;
	margin: auto 8px;
}

.project-link{
	display: block;
	text-decoration: none;
	color: black;
	margin: 0;
	padding: 0;
}

footer{
	display: block;
	background-color: black;
	color: white;
	margin: 0;
	margin-top: 4rem;
	padding: 0;
	width: auto;
	height: -moz-fit-content;
	height: fit-content;
	border: solid 1px black;
}

#footer-grid-container{
	display: grid;
	grid-template-columns: 30% 40% 30%;
	width: 90%;
	padding: 0;
	margin: auto;
}

.footer-grid-item{
	margin: 2rem 0;	
}

.footer-grid-item a{
	color: rgb(155, 155, 155);
}

.footer-grid-item a:hover{
	color: white;
}



footer address{
	font-style: normal;
}

#author-disclaimer > p, #footer-grid-container h2{
	color: lightgray;
	cursor: default;
}

@media (max-width: 650px){

	#footer-grid-container{
		display: block;
	}
}

@keyframes blink{
	0% { color: transparent; }
	49% { color: transparent; }
	50% { color: #E6E6E6; }
}

@media (max-width: 750px) and (max-height: 750px) and (min-height: 450px){
	#projects-title {
		background-color: white;
		z-index: 999;
		position: sticky;
		top: 2rem;
		left: 0;
		right: 0;
		padding: 0.5rem;
	}
}


